
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	@media(max-width: 768px){
		&.lock{
			overflow: hidden;
		}
		}
}

.introduction {
position: relative;
top: 7rem;
margin-bottom: 175px;

}
._container {

	max-width: 1140 / 1250 * 100%;
	margin: 0 auto;
}
.introduction__row {

	& .red {
		font-size: 2.8rem;
			color: #EE4248;
		}
	@media(max-width:1058px){
	flex-wrap: wrap;
	margin:-24px 0px;
	}
	display: flex;
	align-items: center;
margin: 0px -24px;
}
.introduction__column {
	@media(max-width:1058px){
		padding:24px 0px;
		align-items: center;
		&:first-child{
			flex-basis: 100%;
		}
		}
		display: flex;
		flex-direction: column;
padding: 0 24px;
	flex: 1 1 50%;

}
.introduction__text {
	@media(max-width:1058px){
		text-align: center;
		}

}
.introduction__title {
	font-family: Poppins;
font-size: 3rem;
font-weight: 600;
line-height: 1.33em;
margin-bottom:0.3em ;

}
.red {
	color: #EE4248;
}
.introduction__subtitle {
	margin-bottom: 1em;
	font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 1.4em;
color: #30444E;
}
.introduction__button {
	background: #EE4248;
	width: 161px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 1.45rem;
border: none;
color: #fff;
}
.introduction__img {
max-width: 100%;

}



.header {
background-color: #fff;
z-index: 10000000;
width: 100%;
position: fixed;
	border-bottom: 2px solid #eee;
	transition: all 0.3s ease 0s;
}
._container {
	padding:5px 0px ;
}
.header__row {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.header__logo {
max-width: 100%;
flex: 0 1 10%;
z-index: 4;
}
.header__menu {
	
	transition: top .3s ease-in-out 0s;
	position: relative;
	z-index: 1;
	@media(max-width: 768px){
	position: fixed;
display: flex;
top: 100%;
z-index: 1;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: start;

	left: 0;
	background-color: #666;


		&.active{
			top: 76px;
		}
	}
	align-items: center;
flex-basis: 55%;
	display: flex;
justify-content: space-between;
}



.header__menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	@media(max-width: 768px){
		

		color: #eee;
		padding: 0.8rem 0;
		flex-basis: 8.3%;
		align-self: center;
		}
padding:0 0.3rem ;
	& a{
		@media(max-width:1058px){
				font-size: 1rem;
				}
				font-family: Roboto;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 21px;
		color: #1F2E35CC;
		text-decoration: none;
		@media(max-width: 768px){
			color: #eee;

			font-size: 2rem; 
			}
			
	}
}

.header__icons {

	position: relative;
	z-index: 2;
	max-width: 100%;
	flex-basis: 11%;
	display: flex;
	justify-content: space-between;
}
.header__icons-item {
	padding: 0 10px;

}

.header__burger{
	& span{
		transition: all 0.3s ease 0s;
	}
	display: none;
	@media(max-width: 768px){
		z-index: 3;
		width: 2rem;
		height: 30px;
		order: 3;
		position: relative;
		align-self: center;
		&::before{
			transition: all 0.3s ease 0s;
			content: '';
			position: absolute;
			top: 0px;
			left: 0;
width: 100%;
			height: 3px;
			display: inline-block;
			background: #666;
		}
		&::after{
			transition: all 0.3s ease 0s;
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
width: 100%;
			height: 3px;
			display: inline-block;
			background: #666;
		}
		& span{
			font-size: 30px;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: #666;
		}
		display: block;
	}

	&.active{
		@media(max-width: 768px){
			z-index: 3;
			width: 2rem;
			height: 30px;
			order: 3;
			position: relative;
			align-self: center;
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
	width: 100%;
				height: 3px;
				display: inline-block;
				background: #666;
				transform: rotate(45deg);
			}
			&::after{
				content: '';
				transform: rotate(-45deg) ;
				position: absolute;
				top: 50%;
				left: 0;
	width: 100%;
				height: 3px;
				display: inline-block;
				background: #666;
			}
			& span{
				font-size: 30px;
				transform: scale(0);
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #666;
			}
			display: block;
		}
	}
}

.greetings {
	margin-bottom: 7.25rem;
}
._container {
}
.greetings__row {
	@media(max-width:1058px){
		flex-wrap: wrap-reverse;
		justify-content: center;
		}
	display: flex;
	align-items: flex-end;
}
.greetings__column {
	&:last-child{
		flex-basis: 50%;
	}
	@media(max-width:1058px){
		align-self: center;
		&:not(:first-child){
			flex-basis: 100%;
		}
	
	}
}
.greetings__img {
	margin-right: 5.125em;
	max-width: 100%;
	@media(max-width:1058px){
		margin-right: 0;
		}
}
.greetings__title {
	margin-bottom: 1.125em;
	@media(max-width:1058px){
		text-align: center;
		font-size: 3rem;
		line-height: 3.625rem;
	}
	@media(min-width:1400px){
		font-size: 2.5rem;
		line-height: 3rem;
	}
	font-size: 2rem;
	font-family: Roboto;
font-weight: 500;
line-height:2.625rem ;
letter-spacing: 0em;
text-align: left;

}
.red {
}
.greetings__text {
	@media(min-width:1400px){
		font-size: 1.5rem;
	}

	@media(max-width:1058px){
		font-size: 25px;
	}
	font-family: Roboto;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #30444E;

}
.greetings__paragraph {
}



.product {
	margin-bottom:8.625rem ;
}

.product__title-main{
	margin-bottom: 2rem;
	color:#1F2E35;
	font-family: Roboto;
font-size: 2rem;
font-weight: 500;
line-height: 2.6875rem;
letter-spacing: 0em;
text-align: center;

}
._container {
}
.product__title {
	font-family: Roboto;
font-size: 1.175rem;
font-weight: 500;
line-height: 2.3125;
letter-spacing: 0em;
text-align: left;
color:#EE4248 ;

}
.product__row {
	@media(max-width:1058px){
		flex-wrap: wrap;

		margin: 0px;
		}
	display: flex;
	margin: 0rem -3.3125rem;
}
.product__column {
	@media(max-width:1058px){
		padding: 3.125rem 3.3125rem;
		flex-basis: 100%;
		}
	padding: 0rem 3.3125rem;
justify-content: space-between;
	flex: 1 1 33.33%;
	display: flex;
	flex-direction: column;

}
.product__img {
	max-width: 100%;
}
.product__text {
	margin-bottom: 1.066rem;
	color: #30444E;
	font-family: Roboto;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.6875rem;
letter-spacing: 0em;
text-align: left;

}
.product__button {

	background: #EE4248;
	font-family: Roboto;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.625rem;
letter-spacing: 0em;
text-align: left;
color: #fff;
width: 7.4375rem;
height: 2.625rem;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}


.subheader {
margin-bottom: 1.2rem;
}

.subheader__limiter{
	max-width: 66%;
	@media(max-width:1058px){
		margin: 0 auto;
		}
}
._container {
}
.subheader__row {
	@media(max-width:1058px){
		flex-direction: column;
		margin:-3.3125rem 0rem ;
		align-items: start;
		}
	align-items: center;
	margin: 0rem -3.3125rem;
	display: flex;
}
.subheader__column {
	@media(max-width:1058px){
		padding:3.3125rem 0rem ;
		flex-basis: 66%;
		}
	margin:-0.6rem 0 ;
	& *{
		&:first-child{
			padding: 0;
			
		}
		padding:0.6rem 0 ;
	}
	flex-basis: 50%;
	padding:0 3.3125rem ;
}

.subheader__addres {
}

.subheader__logo {

}
.subheader__title-addres {
	font-family: Roboto;
font-size: 1.125rem;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#263238;
}
.subheader__text-addres {
	font-family: Roboto;
font-size: 1.125rem;
font-weight: 300;
line-height: 1.6875rem;
letter-spacing: 0em;
text-align: left;
color:#263238;

}
.subheader__contact {
}
.subheader__title-contact {
	font-family: Roboto;
font-size: 1.5rem;
font-weight: 500;
line-height: 1.75rem;
letter-spacing: 0em;
text-align: left;
color:#263238;
}
.subheader__text-contact {
	font-family: Roboto;
font-size: 1.125rem;
font-weight: 300;
line-height: 1.6875rem;
letter-spacing: 0em;
text-align: left;
color:#263238;
}


.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EE4248;
	& span {
		font-family: Roboto;
font-size: 18rem / 16rem;
font-weight: 500;
line-height: 21rem / 16rem;
color: #fff;
padding: 1rem 0rem;
	}
}
html,
body{
	height: 100%;
}

.wrapper{
	min-height: 100%;
}

.main{
	flex: 1 1 auto;
}


#dropped-menu{
	position: relative;

	display: flex;
	margin: 0rem -0.25rem;
	align-items: center;
	& *:not(:last-child){
		padding: 0rem 0.25rem;
		& img{
			max-width: 13px;
			max-height: 9px;
		}
		@media(max-width:768px){
			flex-basis: 5%;
			padding: 0rem 0.5rem;
			}
	}
}

 


.header__pop-menu-row{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__pop-menu-content{
	margin: .4rem .2rem ;
	max-width: 100%;

}
.header__pop-menu , .header__pop-menu_first{
	transition: top .3s ease-out .3s, opacity .3s ease-in 0s;
opacity: 0;

	position: absolute;
background: #fff;
box-shadow: 7px 7px 10px red;

	top: 300%;
	@media(max-width:768px){
		top: 70%;
		}
		z-index: 100;
max-width: 100%;
border: 2px solid #666;

}
.header__pop-menu-item {
	opacity: 0;
transition: all .3s linear .5s;
top: 10px;
&:not(:last-child){
	border-bottom: 1px solid #666;

}

text-align: center;
list-style: none;
position: relative;
right: 60%;
@media(max-width:768px){
	right: 35%;
	}
& a{
	padding-top: 1rem;
color: #1F2E35CC;
font-size: 16px;
display: block;
}
}


._active-menu{
	top: 200%;
opacity: 1;
@media(max-width:768px){
	top: 100%;
	}
.header__pop-menu-item{
	opacity: 1;
	top: 0;
	
}

}

.arrow{

}
